# Extra packages that we can get from anaconda. Note that these don't need
# to come from anaconda, but this can be a convenient place to get these.

# Stuff needed to install ptpython and ptipython. This is just a nice
# interface to have, geocal doesn't actually depend on this being available.
# There is currently no anaconda package for this, so we just put in the
# dependencies.
docopt
jedi >=0.9.0
prompt_toolkit >=1.0.14,<2.0.0
pygments

# Nonpython dependencies. Note doxygen, swig, hdf5, hdfeos5, and fftw
# are optional, geocal can be built without these.
gdal
boost
hdf5
hdfeos5
gsl
pkgconfig
doxygen
swig
ncurses
fftw
gcc_linux-64
gfortran_linux-64
gxx_linux-64

# These are dependencies that come from our afids-conda-package repository
# at https://github.jpl.nasa.gov/Cartography/afids-conda-package. You can
# leave these out if you want to build this separately. Note ptipython,
# vicar-rtl, vicar-gdalplugin, and afids-data are optional, geocal
# builds without them. spice is required.
ptipython
vicar-rtl
vicar-gdalplugin
afids-data
spice
# Note the conda system libblitz doesn't work with gcc 7, so we have our
# own build with a patch to fix this
libblitz
