graft geocal
prune pynitf
prune test_support
prune lib
prune init
global-exclude *_test.py
#exclude lib/*_test.py
#exclude geocal/*_test.py

# added by check-manifest
include *.am
include *.md
include *.py
include *.sh
include README_test
include geocal
include pytest.ini
recursive-include bin *.am
recursive-include bin *.pdf
recursive-include bin *.py
recursive-include doc *.README
recursive-include doc *.am
recursive-include doc *.css
recursive-include doc *.html
recursive-include doc *.py
recursive-include doc *.rst
