granule_MSPI-Ground/chain_test/input/3.instrument_info.config : granule_id
10000000 : hardware_clock_rate # Hardware clock frequency in cycles per second.
0  : polarization_angle_Q # Nomimal polarization angle of Q channel in degrees (integer)
1  : polarization_sign_Q # Polarization sign based on the orientation of polarizer (integer)
45 : polarization_angle_U # Nomimal polarization angle of U channel in degrees (integer)
-1 : polarization_sign_U # Polarization sign based on the orientation of polarizer (integer)
0.0 : D # Estimate of the retardance amplitude mismatch between the PEMs.
0.0 : eta  # Estimated phase of the beat modulation pattern within a frame. 

8 : number_band # Number of wavelengths
  1    2    3    4    5    6    7    8 : band_numbers  # Band numbers (1-based)
355  380  445  470  555  660  865  935 : wavelengths   # Wavelength for each band (nanometers)
0.0828186 0.0881185 0.0842697 0.0837229 0.0516280 0.0588413 0.0433326 0.0531163 : delta_lambda_over_lambda 
                                                     # Spectral bandwidth divided by central
		                                     # wavelength for each band.

6.19098591549   5.78368421053   4.93887640449   4.67617021277   3.96   3.33   2.54080924855   2.35058823529 : delta0_estimate 
                                                     # Estimated mean retardance amplitude of PEMs.

1.009 1.068 1.868 2.000 1.853 1.553 0.972 0.814 : E0 # Solar irradiance at 1 AU

13 : number_row # Number of active rows.
0 6 12 17 22 27 32 37 42 47 52 57 62 : row_numbers # Active row numbers (0-based)
I U  Q  I  U  Q  I  I  U  Q  I  I  I : row_types   # Row types
8 7  7  7  6  6  6  5  4  4  3  2  1 : band  # Band number associated with each row

# Level-0 file configuration
# Offsets are in bytes.
13 : l0_number_row
0 6 12 17 22 27 32 37 42 47 52 57 62 : l0_row_numbers # Row numbers including processed rows.
                           # IMPORTANT: "l0_row_numbers" must be in the order they occur in the L0 file.
3120 : subframe_row_size   # Length in bytes of a subframe row in the L0 data stream.
0  : lc1_offset
2  : lc2_offset
4  : dn_offset
1536 : number_dn           # Number of dn's per row.
3076 : p1_offset
3078 : p2_offset
3080 : subframe_counter_offset
3084 : f1_offset
3088 : f2_offset
3092 : lf_phase_offset  # ?
3094 : probe_in_phase_offset # (int16)
3096 : probe_quadrature_offset # (int16) should be near zero
3098 : hf_phase_cal_offset # (uint16 or int16?)
3100 : lf_phase_cal_offset # (uint16 or int16?)
3102 : pem1_offset
3104 : pem2_offset
3112 : hardware_timestamp_offset # Note: Hardware timestamp is recorded only in the last row
                                 # of a subframe.
