############################################################################################
# Master config file for L1A1, L1A2, L1B1 and L1B2.
############################################################################################

# Location of DEM
/data/bank/anc/DID/MeanSeaLevel/geoid_2160h_4320w.half : MSL_DATA
/data/bank/anc/DEM/USA10M/database : USGSDATA
2700 : dem_tile_size_x  # Must be an even divisor of the usgs_conversion factor (currently 10800)
2700 : dem_tile_size_y  # Must be an even divisor of the usgs_conversion factor (currently 10800)

# Calibration files
chain_test/input/3.lincal.dat : dn_linearization_file
chain_test/input/3.polcal.dat : polarization_calibration_file
chain_test/input/3.radcal.dat : radiometric_calibration_file
chain_test/input/3.out_of_band.hdf5 : out_of_band_calibration_file

# Instrument and camera model
# Change location from chain test so we are pointing to the right directory
# for the geocal unit test.
3.mspi_camera_model.config : initial_camera_model
3.instrument_info.config : instrument_info_config

# Field maps
chain_test/input/3.l1a_field_map.config : l1a_field_map_config
chain_test/input/3.l1b1_diagnostic_field_map.config : l1b1_diagnostic_field_map_config
chain_test/input/3.l1b1_standard_field_map.config : l1b1_standard_field_map_config
chain_test/input/3.l1b2_diagnostic_field_map.config : l1b2_diagnostic_field_map_config
chain_test/input/3.l1b2_standard_field_map.config : l1b2_standard_field_map_config

# Fill value (L1B1, L1B2)
-9999 : fill_value

# L1A1 options
False : repair_row_numbers  # Repair wrong row numbers in L0 file.   WARNING: Setting this to True
                            # disables a consistency check between the instrument_info_config file 
                            # and the L0 file.

# L1A2 options
60 : number_shield_pixel
1 : shielded_pixel_kernel_size
True : ShieldPixelEnable
1440 : shield_start_pixel

# L1B2 options
0.50 : alpha_bar # Gimbal rotation rate in degrees per second.

# airmspi_map_info options 
# (NOTE: These are also passed to airmspi_l1b2_main via the map_info file)
# Have dem_type *not* usgs, so the unit test doesn't depend on having the
# USGS DEM database available
simple_dem : terrain_dem_type   
false : use_static_gimbal

# HDF file parameters
512 : l1b2_hdf_chunk_size_x
512 : l1b2_hdf_chunk_size_y

Land : target_type
Direct : geolocation_stage
